@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
body {
  margin: 0;
  padding: 0;
  background-image: url("https://www.nasa.gov/sites/default/files/styles/full_width_feature/public/thumbnails/image/pia16613_orig.jpg");
  background-color: black;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
h1 {
  font-family: "Orbitron", sans-serif;
  font-size: 6rem;
  color: whitesmoke;
  text-shadow: 1px 1px blue;
  margin: 0;
  text-align: center;
}
h1 :link{
    text-decoration: none;
    color: whitesmoke;
}
h2 {
    font-family: "Orbitron", sans-serif;
    font-size: 1.5rem;
    color: whitesmoke;
    text-shadow: 1px 1px blue;
    margin: 0;
    text-align: center;
  }
  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 9rem;
    }
    h2 {
      font-size: 2.3rem;
    }
  }